In [2]:
import pandas as pd

In [5]:
ds1=  pd.DataFrame   ( { "names":['Ali','Amir','Aslam'],"wights":[65,67,69] } )

ds2 = pd.DataFrame ( { "names":['Ali','Atif','Asif'], "heights":[5.5,5.7,5.9] } )

ds3 = pd.DataFrame   ( { "names":['Asif','Amir','Aslam'], "ages" : [25,27,29] })

In [6]:
dt1=pd.merge(ds1,ds2,how='outer')
print(dt1)

   names  wights  heights
0    Ali    65.0      5.5
1   Amir    67.0      NaN
2  Aslam    69.0      NaN
3   Atif     NaN      5.7
4   Asif     NaN      5.9

In [7]:
dt2=pd.merge(dt1,ds3,how='outer')
print(dt2)

   names  wights  heights  ages
0    Ali    65.0      5.5   NaN
1   Amir    67.0      NaN  27.0
2  Aslam    69.0      NaN  29.0
3   Atif     NaN      5.7   NaN
4   Asif     NaN      5.9  25.0

In [8]:
du1=dt2.dropna()
print(du1)

Empty DataFrame
Columns: [names, wights, heights, ages]
Index: []

In [9]:
du2=dt2.fillna(dt2.mean())
print(du2)

<ipython-input-9-2cad8d9d6e01>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  du2=dt2.fillna(dt2.mean())

   names  wights  heights  ages
0    Ali    65.0      5.5  27.0
1   Amir    67.0      5.7  27.0
2  Aslam    69.0      5.7  29.0
3   Atif    67.0      5.7  27.0
4   Asif    67.0      5.9  25.0

In [10]:
du2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   names    5 non-null      object
 1   wights   5 non-null      float64
 2   heights  5 non-null      float64
 3   ages     5 non-null      float64
dtypes: float64(3), object(1)
memory usage: 180.0+ bytes

In [11]:
du2.describe()

          wights   heights       ages
count   5.000000  5.000000   5.000000
mean   67.000000  5.700000  27.000000
std     1.414214  0.141421   1.414214
min    65.000000  5.500000  25.000000
25%    67.000000  5.700000  27.000000
50%    67.000000  5.700000  27.000000
75%    67.000000  5.700000  27.000000
max    69.000000  5.900000  29.000000